<style>
  html, body {
    height: 100%;
    overflow: hidden;
  }

  iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 50px);
    border: none;
  }

  .versionSelector {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #00838F;
    color: white;
    padding: 5px;
    text-align: center;
  }

  .field-label {
    font-size: 0.9em;
    font-weight: normal;
    display: block;
  }

  .value {
    font-size: 1.2em;
    font-weight: bold;
  }

  .button, .button:visited {
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 10px;
    cursor: pointer;
  }

  .button:focus {
    text-decoration: none;
  }

  .button:hover {
    text-decoration: none;
    background: #00BCD4;
    font-weight: bold;
    color: black;
  }

  .button[disabled] {
    background-color: #B2EBF2;
    color: grey;
    cursor: not-allowed;
  }

  .field {
    margin-left: 20px;
    padding: 0;
    display: inline-block;
    text-align: center;
  }

  #previous {
    float: left;
  }

  #next {
    float: right;
  }

  #descriptionPopup {
    position: absolute;
    bottom: 75px;
    width: 400px;
    height: auto;
    padding: 15px;
    border: 1px solid #444;
    z-index: 100;
    background-color: white;
    left: calc(50% - 200px);
    box-shadow: 3px 3px 10px #444;
  }
</style>

<div class="versionSelector">

  <div class="button" id="previous">
    <
  </div>

  <div class="field button" id="description">
    <span class="field-label">Release number </span>
    <span class="value" id="releaseNumber" ></span>
  </div>

  <div class="button" id="next">
    >
  </div>

</div>

<div id="descriptionPopup" style="display: none;">
  <div id="time"></div>
  <div id="descriptionBody"></div>
</div>

<script type="text/javascript">
  const Releases = <%== @json_releases %>;
  const CurrentRelease = Releases[Releases.length - 1];

  const ReleaseNumberElement = document.getElementById('releaseNumber');
  const PreviousButton = document.getElementById('previous');
  const NextButton = document.getElementById('next');
  const DescriptionButton = document.getElementById('description');
  const DescriptionPopup = document.getElementById('descriptionPopup');
  const DescriptionBodyElement = document.getElementById('descriptionBody');
  const ReleaseTimeElement = document.getElementById('time');

  function selectRelease(releaseNumber) {
    const release = Releases.find(release => release.number == releaseNumber);

    ReleaseTimeElement.innerHTML = release.time;
    DescriptionBodyElement.innerHTML = release.description;
    ReleaseNumberElement.innerHTML = release.number;

    DescriptionButton.onclick = event => {
      event.preventDefault();
      toggleDescription();
    }

    if (release.number > 0) {
      PreviousButton.removeAttribute('disabled');
      PreviousButton.onclick = event => {
        event.preventDefault();
        selectRelease(release.number - 1);
      }
    } else {
      PreviousButton.setAttribute('disabled', true);
    }

    if (release.number < CurrentRelease.number) {
      NextButton.removeAttribute('disabled');
      NextButton.onclick = event => {
        event.preventDefault();
        selectRelease(release.number + 1);
      }
    } else {
      NextButton.setAttribute('disabled', true);
    }

    const app = document.getElementById('app');
    if (app) {
      app.src = `/versions/${release.version}`;
    }
  }

  function toggleDescription() {
    if (DescriptionPopup.style.display === 'none') {
      DescriptionPopup.style.display = 'block';
    } else {
      DescriptionPopup.style.display = 'none';
    }
  }

  selectRelease(CurrentRelease.number);
</script>

<iframe id="app" src="/" />
