<!DOCTYPE html>
<html>
  <head>
    <title>R & D Travels</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Handlee|Tillana" rel="stylesheet">

    <link rel="stylesheet" href="/static-assets/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo-favicon.png">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="/graphql_by_query_then_variables.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
